server {
    listen ${NGINX_PORT};
    server_name ${NGINX_BASE_URL}/;
    location / {
       proxy_pass ${FRONTEND_URL}/;
    }
    location ${NGINX_AUTH_ENDPOINT}/ {
      proxy_pass ${AUTH_SERVICE_URL}/;
    }
    location ${NGINX_USER_ENDPOINT}/ {
      proxy_pass ${USER_SERVICE_URL}/;
    }
    location ${NGINX_CAREER_ENDPOINT}/ {
      proxy_pass ${CAREER_SERVICE_URL}/;
    }
}
