server {
    listen 80;
    server_name ${NGINX_URL}/;
    location / {
       proxy_pass ${FRONTEND_URL}/;
    }
    location ${AUTH_NGINX_ENDPOINT}/ {
      proxy_pass ${AUTH_SERVICE_URL}/;
    }
    location ${USER_NGINX_ENDPOINT}/ {
      proxy_pass ${USER_SERVICE_URL}/;
    }
    location ${CAREER_NGINX_ENDPOINT}/ {
      proxy_pass ${CAREER_SERVICE_URL}/;
    }
}