server {
    server_name localhost;
    location / {
       proxy_pass ${FRONTEND_URL}/;
    }
    location /auth/ {
      proxy_pass ${AUTH_SERVICE_URL}/;
    }
    location /user/ {
      proxy_pass ${USER_SERVICE_URL}/;
    }
    location /career/ {
      proxy_pass ${CAREER_SERVICE_URL}/;
    }
}
